<div class="col-sm-8 blog-main">
  <nav class="breadcrumb">
    <%= link_to "Home", root_path, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
    <span class="breadcrumb-item"><%= @blog.title %></span>
  </nav>

  <h2 class="blog-post-title"><%= @blog.title %></h2>
  <p class="blog-post-meta">Written <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago 
    <% if logged_in?(:site_admin) %>
      <br />
  		<%= link_to @blog.status.capitalize, toggle_status_blog_path(@blog) %> / 
		  <%= link_to 'Edit', edit_blog_path(@blog) %> / 
			<%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  
  <hr />

  <section class="blog-body">
    <%= markdown @blog.body %>
  </section>

  <hr />

  <%= render "comments/comment_form" %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>