<div class="col-sm-8 blog-main">
	<% if @blogs.count > 0 %>
		<h1 class="topic-title"><%= @topic.title %></h2>
		<p class="blog-post-meta">
			<%= link_to "Back To Topics", topics_path %>
			<% if logged_in?(:site_admin) %>
				 / <%= link_to "Delete This Topic", @topic, method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %>
		</p>

		<hr />
		
		<%= paginate @blogs %>
	  
	  <%= render @blogs %>

	  <%= paginate @blogs %>
	 <% else %>
	 	<%= render "no_blogs" %>
	 <% end %>
</div>