<%= form_for(@portfolio_item) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
      	<%= form.label :subtitle %>
      	<%= form.text_field :subtitle, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: "form-control", rows: 15 %>
      </div>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
      <%= form.fields_for :technologies do |technology_form| %>
        <li class="list-group-item form-group">
          <%= technology_form.label :name %>
          <%= technology_form.text_field :name, class: "form-control" %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>