<aside class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This page is dedicated to my more personal interests, hobbies, and life events, outside of programming. These blogs may contain content that may be considered controversial. If you find that some content is not your cup of tea, you are welcome to leave a comment. Just remember to keep it constructive and have an open mind.</p>
  </div>
  <%= source_helper("sidebar-module alert alert-primary") %>
  <div class="sidebar-module sidebar-module-inset">
    <h4>Topics</h4>
    <ul class="list-unstyled" id="sidebar-topic-list">
      <% @side_bar_topics.each do |topic| %>
        <li>
          <%= sidebar_topic_helper(topic) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <h4>Elsewhere</h4>
    <ul class="list-unstyled list-inline social-links">
      <li class="list-inline-item"><%= link_to fa_icon("github"), "https://github.com/sorucoder" %></li>
      <li class="list-inline-item"><%= link_to fa_icon("facebook"), "https://www.facebook.com/marcus.germano/" %></li>
      <li class="list-inline-item"><%= link_to fa_icon("twitter"), "https://twitter.com/GermanoMarcus" %></li>
    </ul>
  </div>
</aside>